table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #cfcfcf;
}

th i{
    cursor: pointer;
}

#table-wrapper{
    max-height: 200px;
    width: 500px;
    overflow:scroll;
    /* overflow-x: hidden; */
}

#breakpoint-value-one{
    display: none;
}